.form_control {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_lupa {
    width: 10%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa {
    font-size: 2rem;
    color: white;
}

input {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    margin: 10px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}